<h1 class="text-center mt-4 text-uppercase" Style="letter-spacing:-1px;">Articles</h1>
<%=render 'shared/paging_index', obj: @articles%>
<%=render 'article'%>
<%=render 'shared/paging_index', obj: @articles%>
<br/>
<%if logged_in?%>
  <div class="row float-btn">
    <%= link_to  "+", new_article_path, class:"btn btn-primary btn-circle btn-xl" %>
  </div>
<%end%>
