<h1 class="text-center mt-4 text-uppercase" Style="letter-spacing:-1px;">Alpha Bloggers</h1>
<%=render 'shared/paging_index', obj: @users%>
<%=render 'user'%>
<%=render 'shared/paging_index', obj: @users%>
