<% if obj.errors.any?%>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong class="alert-heading">Errors:</strong>
    <ul>
      <%obj.errors.full_messages.each do |m|%>
        <li><%= m %></li>
      <% end %>
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
