<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4 text-uppercase text-white" style="letter-spacing: -1px;">Welcome</h1>
      <p class="lead text-uppercase text-white" style="letter-spacing: 1.2px;">to the:</p>
      <hr class="my-4">
      <p class="text-uppercase text-white" style="letter-spacing: 1.2px;">best programming blog. Know more about geek and tech news around the world.</p>
      <p class="lead">
        <%= link_to "Sign up!", signup_path, class: "btn btn-primary btn-lg" %>
      </p>
    </div>
  </div>
</div>
<footer id="sticky-footer" class="py-4 bg-dark">
  <div class="container text-center">
    <small class="light-text">Copyright &copy; <%= link_to  "Eduardo Medina", "https://www.github.com/TheIncredibleIllmo", class:"text-white"%></small>
  </div>
</footer>
