@import 'bootstrap/dist/css/bootstrap';

@font-face {
    font-family: 'Manrope';
    src: font-url('../stylesheets/fonts/Manrope-Medium.ttf') format("truetype");
}

h1,
h3,
h4,
h5,
li,
div,
strong,
p,
small {
    font-family: 'Manrope';
}

.navbar {
    background-color: #ADEFD1FF !important;
    font-family: 'Manrope';
}

.nav-link {
    color: #00203FFF !important;
    font-family: 'Manrope';
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #00203FFF !important;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container {
    margin-top: 25px;
}

.jumbotron {
    background-image: asset-url('home-img');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
}

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
    background-color: white;
}

#sticky-footer {
    flex-shrink: none;
    background-color: #00203FFF;
}

.light-text {
    color: #ADEFD1FF;
}

.btn-primary {
    background-color: #ADEFD1FF;
    color: #00203FFF;
    border-color: #ADEFD1FF;
}

.nav-link:hover {
    text-decoration: underline;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled) {
    box-shadow: none !important;
    outline: 0;
    background-color: #00203FFF;
    color: #ADEFD1FF;
    border-color: #00203FFF;
}

.dark-text {
    color: #00203FFF;
}

.float-btn {
    position: fixed;
    top: 5rem;
    right: 2rem;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 5px;
    font-size: 40px;
    border-radius: 35px;
}

.circle-img {
    border-radius: 50%;
}

.digg_pagination {
    background: white;
    cursor: default;
    /* self-clearing method: */
}

.digg_pagination a,
.digg_pagination span,
.digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
}

.digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd;
}

.digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #00203FFF;
    color: white;
    border: 1px solid #00203FFF;
}

.digg_pagination a {
    text-decoration: none;
    color: #00203FFF;
    border: 1px solid #9aafe5;
}

.digg_pagination a:hover,
.digg_pagination a:focus {
    color: #000033;
    border-color: #000033;
}

.digg_pagination .page_info {
    background: #00203FFF;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
}

.digg_pagination .page_info b {
    color: #000033;
    background: #00203FFF;
    padding: 0.1em 0.25em;
}

.digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .digg_pagination {
    height: 1%;
}

*:first-child+html .digg_pagination {
    overflow: hidden;
}