  <%flash.each do |name,message|%>
  <div class="alert alert-<%= name == "notice" ? "success" : "warning"%> alert-dismissible fade show m-5" role="alert">
    <%=message%>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<%end%>
